.timeTableDayBlock{
    position: relative;
    height: 100%;
}

.selectedTime{
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.selectedTimeContent .time{
    overflow: hidden;
    padding: 1px 0 0 3px;
    font-size: 12px;
}


/*.cardList{
    outline: none;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
  
    font-size: 1rem;
  
    background: #228be6;
    overflow: hidden;
}
*/


/* .lineList{
    display: inline-flex;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;

    height: 2.25rem;
    font-size: 1rem;
  
    background: #228be6;
} */


/* 추가 */
.lineList .linecontent div{
    width: 100px;
    overflow: hidden;
    padding: 1px 0 0 3px;
    font-size: 12px;
    /* float: left; */
    display: inline-flex;
    padding-right: 12px;
}

.lineList span{
    padding-right: 5px;
    font-size: 10px;
}
