.modalBackground{
    background-color: rgba(0,0,0,.3);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
}

.modalContainer{
    position: relative;
    width:100%;               
    max-width:400px;     
    overflow:hidden;          
    border-radius: 10px;
    background-color:#264db5; 
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
}

.title{
    width:100%;
    max-width:400px;              
    overflow:hidden;         
    background-color:#9fcbfa;
    justify-content:center;
    align-items:center;
    color: white;
    display: flex;
}

.title button {
    position: absolute;
    background: none;
    border:none;
    font-size: 20px;
    color: white;
    top: 3%;
    right: 5%;
    cursor: pointer;
}

.body{
    width: 100%;
    max-width: 400px;
    height: 200px;
    background-color: #ffffff;
}

.tableName{
    font-size: 25px;
}