@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

/* 시간표 선택옵션 */

.selectTimeTableOption{
    padding-bottom: 50px;
}

.searchCollection{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr 1fr;
}

.searchCollection *{
    margin-bottom: 5px;
}

.lecturelist{
    list-style: none;
    width: 500px;
    height: 170px;
    padding: 10px;
    border: 1px solid gray;
}

.searchbar{
    width: 150px;
    height: 30px;
}

.department{
    grid-column: 1;
    grid-row: 2;
}

select{
    border-radius: 30px;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

option{
    text-align: center;
    width: 100px;
    height: 30px;
}

.iconContainer {
    display: flex;
}

.contents{
    width: 500px;
}

.icon {
    margin: 0px 5px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #999;
    text-align: center;
    padding: 0px 10px;
}

.icon .content {
    font-family: 'Jeju Myeongjo', serif;
}

.icon .button {
    float: right;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 70%;
    cursor:pointer;
    padding-right: 0px;
}