.cardList{
    display: inline-flex;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #e9bebe;
    font-weight: bold;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
  
    /* 크기 */
    height: 2.25rem;
    font-size: 1rem;
  
    /* 색상 */
    background: #228be6;
}



.lineList{
    outline: none;
    border: none;
    border-radius: 4px;
    color: #e9bebe;
    font-weight: bold;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
  
    /* 크기 */
    height: 2.25rem;
    font-size: 1rem;
  
    /* 색상 */
    background: #228be6;
}